# Ignorar o diretório do ambiente virtual
venv/
.venv/

# Python
*.pyc
*.pyo
*.pyd
*.py[cod]
__pycache__/
**/__pycache__/

# Arquivos de teste e antigos
testes/
app_old/
/requirements.dev

# Editores
.vscode/
.idea/
*.iml

# Logs
*.log

# Sistema
*.DS_Store
