# Ignorar o diretório do ambiente virtual
venv/
.venv/
*.pyc
*.pyo
*.pyd
__pycache__/

testes/
app_old/
/requirements.dev

# Ignorar arquivos de configuração do editor (exemplo: VSCode)
.vscode/

# Ignorar arquivos de log
*.log

# Ignorar a pasta .idea (onde PyCharm armazena suas configurações de projeto)
.idea/

# Ignorar arquivos de configuração específicos do PyCharm
*.iml