fastapi==0.115.12
pandas==2.2.3
faiss-cpu==1.11.0
sentence-transformers==4.1.0
spacy==3.8.7
uvicorn==0.34.2
pt_core_news_md @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-3.8.0/pt_core_news_md-3.8.0-py3-none-any.whl